.SearchResults {
    position:absolute;
    width: 100%;
    z-index: 50;
    background-color: white;
    /* width:80%; */
    padding-left:10px;
    cursor: pointer;

}
.SearchContainer input{
    padding-left:10px;

}
.SearchContainer{
    position:relative;
}
.SearchResult{
    min-height:30px;
}