.Card-title{
    text-align: center;
  }
  
  .Card-cell{
    font-size: medium;
    margin-bottom: 1%;
  }
  
  .Card-bold{
    font-weight: bold;
  }
  
  .Silver{
    color:silver
  }
  .Green{
    color:green
  }